<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>  
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.airbnb.com/terms">Terms</a></li>
            <li><a href="https://www.airbnb.com/help/home?from=footer">Help center</a></li>

            <li><a href="https://www.airbnb.com/terms/privacy_policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 Airbnb, Inc.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/airbnb"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/airbnb"><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/airbnb/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>