.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e3d3d3;
    background-image: url('https://i.imgur.com/PhZjG7V.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    border: 2px solid #b6acac;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(82, 81, 81, 0.6); 
}

