<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>  
<header>
    <div class="header">
        <a href="/" class="logo"><img src="assets\airbnb_logo.png"></a>
        <div class="header-right">
            <div class="user-menu">
                <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-user fa-2x"></i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="!isLoggedIn" [routerLink]="['/login']">Login</button>
                    <button mat-menu-item *ngIf="!isLoggedIn" [routerLink]="['/register']">Sign Up</button>
                    <button mat-menu-item *ngIf="isLoggedIn" [routerLink]="['/user']">Account</button>
                </mat-menu>
            </div>
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">
                <mat-form-field class="search-field">
                    <input matInput placeholder="Search" type="text" formControlName="searchInput" class="search-input">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sort by price</mat-label>
                    <mat-select>
                        <!--TODO price range (slider?), type of place, rooms and beds,-->
                        <!--TODO beds, bathrooms, property type, amenities, host language -->
                        <mat-option value="low">Low to High</mat-option>
                        <mat-option value="high">High to Low</mat-option>
                    </mat-select>
                  </mat-form-field>
                <button mat-raised-button color="primary" class="search-btn" type="submit" >Search</button>
            </form>

        </div>
      </div>
</header>

