header {
  display: flex;
  justify-content: space-between;
  background-color: #e3d3d3;
  padding: 20px 10px;
  font-family: 'Wix Madefor Text', sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  background-color: #e3d3d3;
  padding: 20px 10px;
  font-family: 'Wix Madefor Text', sans-serif;
}

.logo, img {
  width: 130px;
}

header a {
  padding: 12px;
  text-decoration: none;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px; /* Adjust this value as needed. */
}


.search-field {
  width: 100%;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.user-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 500px) {
  .header-right {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-top: 50px; /* Adjust this value as needed. */
  }
}

