<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>  
<header>
    <div class="header">
        <a href="/" class="logo"><img src="assets\airbnb_logo.png"></a>
        <div class="header-right">
            <div class="user-menu">
                <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-user fa-2x"></i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="!isLoggedIn" [routerLink]="['/login']">Login</button>
                    <button mat-menu-item *ngIf="!isLoggedIn" [routerLink]="['/register']">Sign Up</button>
                    <button mat-menu-item *ngIf="isLoggedIn" [routerLink]="['/user']">Account</button>
                    <button mat-menu-item *ngIf="isLoggedIn" [routerLink]="['/trip']">My trip</button>

                </mat-menu>
            </div>
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">
                <mat-form-field class="search-field">
                    <input matInput placeholder="Search" type="text" formControlName="searchInput" class="search-input">
                </mat-form-field>
                <button mat-button (click)="onAdvancedSearch()">Advanced Search</button>

                <div *ngIf="showAdvancedSearch">
                  <mat-form-field>
                    <mat-label>Sort by price</mat-label>
                    <mat-select>
                      <mat-option value="low">Low to High</mat-option>
                      <mat-option value="high">High to Low</mat-option>
                    </mat-select>
                  </mat-form-field>
                    <mat-form-field>
                        <mat-label>Rooms</mat-label>
                        <input matInput type="number" placeholder="Rooms" formControlName="rooms">  
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Beds</mat-label>
                        <input matInput type="number" placeholder="Beds" formControlName="beds">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Bathrooms</mat-label>
                        <input matInput type="number" placeholder="Bathrooms" formControlName="bathrooms">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Property Type</mat-label>
                        <mat-select formControlName="propertyType" multiple>
                            <mat-option value="house">House</mat-option>
                            <mat-option value="apartment">Apartment</mat-option>
                            <mat-option value="cabin">Cabin</mat-option>
                            <mat-option value="villa">Villa</mat-option>
                            <mat-option value="hotel">Hotel</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Amenities</mat-label>
                        <mat-select formControlName="amenities" multiple>
                            <mat-option value="wifi">Wifi</mat-option>
                            <mat-option value="parking">Parking</mat-option>
                            <mat-option value="pool">Pool</mat-option>
                            <mat-option value="kitchen">Kitchen</mat-option>
                            <mat-option value="tv">TV</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Host Language</mat-label>
                        <mat-select formControlName="hostLanguage" multiple>
                            <mat-option value="english">English</mat-option>
                            <mat-option value="spanish">Spanish</mat-option>
                            <mat-option value="french">French</mat-option>
                            <mat-option value="german">German</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="primary" class="search-btn" type="submit" >Search</button>
            </form>

        </div>
      </div>
</header>

