<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Sign In</button>
        <a class="no-account" mat-button color="primary" routerLink="/register">Don't have an account?</a>
    </form>
    
</div>