.hotel-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .info-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .description {
    flex: 1;
  }
  
  .rating {
    font-size: 1.2em;
    color: #f4d35e;
  }
  
  .room {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .room-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .room-images img {
    top: 0;
    left: 0;
    display: block;
    width: 250px;
    max-height: 300px;
    border-radius: 10%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .carousel-container {
    flex: 0 0 50%;
    padding-right: 20px;
  }