<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>
<div class="container">
  <h2>Most Requested Hotels</h2>
  <app-card-area [Hotels]="mostRequestedHotels"></app-card-area>

  <h2>Hotels by Most Requested Regions</h2>
  <app-card-area [Hotels]="mostRequestedRegions"></app-card-area>
  
</div>
