.container {
    padding-left: 50px;
    padding-right: 50px;
    border-top: 3px solid rgb(150, 150, 150);
}

h2, p, mat-card-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
  }

.no-results-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
}

.no-results-div p {
  font-size: 3em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 40px;

}