<div class="carousel-container">
        <div *ngFor="let image of hotel.allImages; let i = index">
            <img [routerLink]="['/hotel', this.hotel.name?.replace(' ', '-'), this.hotel.id]" *ngIf="i === selectedIndex" [src]="image" alt="Carousel image"
                [ngClass]="{'image-active': selectedIndex === i}"
                class="fade"
            />
          </div>

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of hotel.allImages; let i=index"
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectImage(i)"
        ></span>
    </div>
    <button class="btn-carousel btn-prev">
        <i class="fa fa-arrow-circle-left icon-carousel icon-prev"
            (click)="onPrevClick()"
        ></i>
    </button>

    <button class="btn-carousel btn-next">
        <i class="fa fa-arrow-circle-right icon-carousel icon-next"
            (click)="onNextClick()"
        ></i>
    </button>

</div>