.hotel-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 30px;
}

.hotel-card {
    max-width: 400px;
    height: 450px;
    padding-top: 10px;
    border-radius: 15px;
    flex: 0 0 calc(100% - 10px);
    margin: 3px; 
}

@media (min-width: 480px) {
    .hotel-card {
      flex: 0 0 calc(50% - 10px); /* 2 cards per row */
    }
  }
  
  @media (min-width: 768px) {
    .hotel-card {
      flex: 0 0 calc(33.33% - 10px); /* 3 cards per row */
    }
  }
  
  @media (min-width: 1024px) {
    .hotel-card {
      flex: 0 0 calc(25% - 10px); /* 4 cards per row */
    }
  }
  
  @media (min-width: 1200px) {
    .hotel-card {
      flex: 0 0 calc(20% - 10px); /* 5 cards per row */
    }
  }

.hotel-card p {
    font-size: 16px;
}

.hotel-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}

.hotel-card a {
    text-decoration: none;
    color: inherit;
}

.clickable-content {
    cursor: pointer;
  }
  
  .clickable-content:hover {
    background-color: #f5f5f5;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
  }
  
  .rating {
    margin-left: auto;
  }

  .carousel-container {
    width: 300px;
    height: 300px;
  }