<div class="hotel-row">
  <div *ngFor="let hotel of Hotels | slice:0:limit" class="hotel-card">
      <mat-card class="hotel-card">
          <app-carousel [images]="images" ></app-carousel>
        <mat-card-content class="clickable-content" [routerLink]="['/hotel', hotel.name.replace(' ', '-')]">
          <mat-card-title>{{ hotel.location }}</mat-card-title>
          <p>{{ hotel.price }}$ night</p>
        </mat-card-content>
      </mat-card>
  </div>
</div>
<button mat-button color="warn" (click)="onSeeMore()" *ngIf="limit < Hotels.length">See More</button>
